h1 {
  text-align: center;
  color: var(--blue-500);
  background-color: inherit !important;
}
#moto {
  font-style: italic;
  text-align: center;
  font-weight: normal;
  font-size: 14px !important;
  background-color: inherit;
}

/* header title */
.all_collection {
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  gap: 24px;
}
/* menu categories list in the  menu-popup */
.categories_list {
  background-color: var(--blue-500);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.all {
  display: none;
}
.sub_categories {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  padding-left: 0;
}
.sub_categories a {
  color: var(--main-blue);
  text-decoration: none;
}

.menu_list_categories {
  font-size: 20px;
}

.display_card {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--blue-500) var(--blue-100);
  margin-top: 0;
}
.display_card img {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}
.collection_section {
  display: block;
  background-color: var(--blue-100);
  margin: 20px 0;
  padding: 10px 0;
  margin-bottom: 20px;
}
.collection_title {
  background-color: white;
  color: #000;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 24px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
}
.collection {
  display: flex;
  justify-content: center;
}

#menu-article-popup {
  position: fixed;
  inset: 0;
  background-color: var(--blue-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.menu_accueil_pop.active {
  background-color: var(--blue-500);
  transform: translate(0);
  opacity: 1;
}
#article-display {
  background-color: var(--main-blue);
  border-radius: 10px;
  padding: 20px;
  margin: 40px 5%;
}
#article-display img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}

#article-display h3 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-align: center;
}
.article {
  font-weight: 900;
  color: white;
  font-size: 18px;
  padding: 20px 0 0px 10px;
  font-weight: 900;
  margin: 0 30px;
}
.collection,
.to_buy_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
}
#achat {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: var(--blue-500);
  font-weight: bold;
  cursor: pointer;
}
#achat a {
  text-decoration: none;
}
#article-display > button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  right: 20px;
  color: white;
  border: none;
}

#menu-article-popup {
  display: none;
  background-color: var(--blue-100);
  height: 100vh;
}
.button_close {
  background-color: #888;
}

@media (min-width: 768px) {
  .display_card img {
    width: 200px;
    height: 200px;
  }
  .all_collection {
    gap: 40px;
  }
  .collection_title {
    padding: 8px 60px;
    font-size: 20px;
  }
  .article {
    font-size: 20px;
  }

  .display_card img {
    width: 150px;
    height: 150px;
  }
  .all_collection {
    margin-top: 20px;
  }
  #article-display {
    margin: 40px 20%;
    max-width: 40vw;
  }
}
@media (min-width: 1024px) {
  .all_collection {
    margin-top: 20px;
  }
  .display_card img {
    width: 250px;
    height: 250px;
  }
  .categories_list {
    font-size: 24px;
  }
  .all_collection {
    gap: 60px;
  }
  .collection_title {
    padding: 12px 80px;
    font-size: 24px;
  }
}
