/*Header*/
@font-face {
  font-family: Barlow-Regular;
  src: url(./font/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: Karma-SemiBold;
  src: url(./font/Karma/Karma-SemiBold.ttf);
}
:root {
  --main-blue: #0e2f82;
  --blue-500: #1549cb;
  --blue-400: #6f90eb;
  --red-error: rgb(216, 10, 10);
  --blue-100: #b6c8f7;
}
body {
  font-family: Barlow-Regular;
  margin: 0;
  background-image: url(../Images/backdgroundImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Karma-SemiBold;
}
