body {
  background-color: var(--main-blue);
  color: white;
  margin: 0;
}

form {
  background-color: var(--main-blue);
  color: white;
  padding: 20px 0 60px 0;
  font-weight: bold;
  border-radius: 20px;
}
h1 {
  color: white;
  margin-bottom: 52px;
  text-align: center;
}
input {
  border: none;
  padding: 12px 0 12px 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
}
input:focus-visible {
  outline: none;
}
div {
  font-size: 18px;
  margin-bottom: 10px;
}
button {
  background-color: var(--blue-400);
  border: none;
  color: white;
  font-size: 28px;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
span {
  color: white;
}
.form_wrapper {
  margin: 10%;
}
.error {
  color: var(--red-error);
  font-size: 14px;
  display: none;
  font-style: italic;
}

#checkbox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}
#checkbox input {
  width: 16px;
}
#conditions {
  margin-bottom: 24px;
  color: white;
}
#obligatoires {
  margin-bottom: 24px;
  color: white;
  text-align: center;
}

#confirmation-password-wrapper {
  position: relative;
}
#emailConfirmationError {
  display: none;
  border: 1px solid var(--red-error);
}
#visibility img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 58px;
}
#on {
  cursor: pointer;
}
#off {
  display: none;
  cursor: pointer;
}
#visibility {
  display: flex;
}
#on1,
#off1 {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 47px;
  cursor: pointer;
}
#visibility1 {
  display: flex;
}

textarea {
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-family: inherit; /* garde la même police que le reste */
  border: none;
  border-radius: 10px;
  resize: vertical; /* permet d'agrandir verticalement si besoin */
  box-sizing: border-box;
  margin-top: 10px;
}

textarea:focus-visible {
  outline: none; /* enlève le contour bleu par défaut */
}
#validation-message {
  display: none;
  margin-top: 20px;
  font-size: 20px;
  color: var(--green-success);
  text-align: center;
}
@media (min-width: 768px) {
  div {
    font-size: 18px;
    margin: 12px 0 6px 0;
  }
  #name_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  /* vise que le element( ex: div),pas les les sous-div  */
  #name_wrapper > div {
    width: 100%;
  }
  #row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  #location_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  #location_wrapper > div {
    width: 100%;
  }
  #telephone_input_wrapper > input {
    width: 47%;
  }
  #email_input_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
  #email_input_wrapper > div {
    width: 100%;
  }

  #obligatoires {
    text-align: left;
  }

  textarea {
    padding-bottom: 60px;
  }
  .form_wrapper {
    margin: 0 70px;
  }
}
