footer {
  background-color: var(--main-blue);
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin-top: 10px;
}
.conditions {
  cursor: pointer;
}
.conditions a {
  color: white;
  text-decoration: none;
}
.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}
.social_media img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.reserve {
  margin-top: 30px;
  color: white;
  font-size: 14px;
}
.contacts {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    font-size: 18px;
    align-items: center;
  }
  .social_media img {
    width: 30px;
    height: 30px;
  }
  .enseigne {
    display: block;
  }

  .social_media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
  }
}
@media (min-width: 1024px) {
  social_media img {
    width: 36px;
    height: 36px;
  }
}
